# Ignore everything on scratch by default, except manet-opportunistic-meanfield-routing
/*
.gitignore
CMakeLists.txt
manet_results.csv
microsoft.gpg
nested-subdir/
run_experiments.sh
scratch-simulator.cc
subdir/
